* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #353535;
  color: #fff;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}
